<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Problem Fix</title>

    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css" />

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>

    <style>
        @font-face {
            font-family: "Montserrat";
        }

        * {
            font-family: Montserrat;
        }

        #myTable th {
            background-color: #5cb85c;
        }

        #myTable td {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">TMMIN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Beranda</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/problem">Problem</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/fixproblem">Fix</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/tmpproblem">Temporrary</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/delayproblem">Delay</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/onprogresproblem">On Progress</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/datakpi">Data KPI</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto my-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <%= USER_NM %>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/logout" id="logout-button">
                                            <i class="fa fa-sign-out-alt"></i> Logout
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card bg-success rounded text-white shadow my-4">
                            <div class="card-body">
                                <p id="welcome-message" class="h6">
                                    <b>Selamat Datang, <%= USER_NM %></b>
                                </p>
                            </div>
                        </div>
                        <div class="card rounded shadow my-4">
                            <div class="card-header">
                                <p class="h6">
                                    <i class="fa fa-chart-area"></i> Semua Data Problem Fix
                                </p>
                            </div>
                            <div class="card-body table-responsive">
                                <div class="container">
                                    <div class="row">
                                        <table border="0" cellspacing="5" cellpadding="5">
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" id="min" name="min" placeholder="Minimum Date"> - <input type="text" id="max" name="max" placeholder="Maximum Date"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table id="myTable" class="table table-hover table-bordered cell-border">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>BNF Ticket No</th>
                                                    <th>Date</th>
                                                    <th>Shop</th>
                                                    <th>Shift</th>
                                                    <th>Group</th>
                                                    <th>Line</th>
                                                    <th>Station</th>
                                                    <th>Machine</th>
                                                    <th>Error Code</th>
                                                    <th>Problem Description</th>
                                                    <th>EST</th>
                                                    <th>Temp C/M</th>
                                                    <th>Fix C/M</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% combinedData.forEach((data, index)=> { %>
                                                    <tr>
                                                        <td><%= index + 1  %></td>
                                                        <td style="min-width: 50px;">
                                                            <%= data.BNF_TICKET_NO %>
                                                        </td>
                                                        <td style="min-width: 50px;">
                                                            <%= data.PROBLEM_DT %>
                                                        </td>
                                                        <td>
                                                            <%= data.SHOP_NM %>
                                                        </td>
                                                        <td>
                                                            <%= data.SHIFT_CD %>
                                                        </td>
                                                        <td>
                                                            <%= data.GROUP_NM %>
                                                        </td>
                                                        <td>
                                                            <%= data.LINE_NM %>
                                                        </td>
                                                        <td>
                                                            <%= data.STATION_NM %>
                                                        </td>
                                                        <td>
                                                            <%= data.FE_NM %>
                                                        </td>
                                                        <td style="min-width: 80px;">
                                                            <%= data.ERROR_CD %>
                                                        </td>
                                                        <td>
                                                            <%= data.PROBLEM_DESCRIPTION %>
                                                        </td>
                                                        <td>
                                                            <%= data.EST %>
                                                        </td>
                                                        <td style="min-width: 100px;">
                                                            <%= data.TMP_CM %>
                                                        </td>
                                                        <td style="min-width: 100px;">
                                                            <%= data.FIX_CM %>
                                                        </td>
                                                        <td>
                                                            <%= data.CM_STS %>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        let minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        DataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = minDate.val();
            let max = maxDate.val();
            let date = new Date(data[1]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        // Create date inputs
        minDate = new DateTime('#min', {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime('#max', {
            format: 'MMMM Do YYYY'
        });

        // DataTables initialisation
        let table = new DataTable('#myTable');

        // Refilter the table
        document.querySelectorAll('#min, #max').forEach((el) => {
            el.addEventListener('change', () => table.draw());
        });
        // $(document).ready(function () {
        //     $('#myTable').DataTable();
        // });
    </script>
</body>

</html>